@{
    ViewBag.Title = "About";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About</h1>
        <p class="lead">Imagine a system that can save the lives of thousands of newborns. 
        Neonatal jaundice which is commonly known as the newborn/infant jaundice is one 
        of the most common conditions for newborns, which occurs in up to 85% of all live births. 
        The team decided to collaborate with Dr. Wennberg, and apply modern technology to help newborns 
        in the developing countries who suffered from jaundice. Our vision for the project is to develop a 
        telemetry system that will enable the doctor and manager to look into the test results uploaded, 
        and analyze the metadata collected from the phone app. The telemetry system will aid data collection and 
        generate reports that will be instrumental to reveal trends and metrics, which increases the overall accuracy of 
        future diagnosis and treatment. The system will generate the reports in real time, 
        display the test results recorded by the phone app, provide a quantitative viewpoint, as well as an output of key metrics. The system will be able to help tremendously for the doctor and manager to remotely look up and analyze the reports, and ultimately maximize their productivity.</p>
    </div>
</div>