@{
    ViewBag.Title = "Home Page";
}

<style>
    ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
</style>

<img src="~/images/bg.PNG" class="img-fluid" alt="Responsive image">



<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Latest Update</h4>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="#">May Monthly reports are published</a>
                    <p>5 June, 2019</p>
                    <p>May Monthly General Report and User Report are ready!</p>
                </li>
                <li>
                    <a target="_blank" href="#">system maintenance</a>
                    <p>22 May, 2019</p>
                    <p>System will be down 23 May, 2019 1:00am - 7:00am</p>
                </li>
                <li>
                    <a target="_blank" href="#">April Monthly reports have published</a>
                    <p>21 April, 2019</p>
                    <p>April Monthly General Report and User Report are ready to use.</p>
                </li>
                <li>
                    <a href="#">User report created</a>
                    <p>20 March, 2019</p>
                    <p>Our dev team have created a user report. Feel free to give them feedback!</p>
                </li>
                <li>
                    <a href="#">March Monthly reports have published</a>
                    <p>21 March, 2019</p>
                    <p>March Monthly General Report is ready to use.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
