
@{
    ViewBag.Title = "Index";
}

<iframe width="1200" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYzA4YTNhZGEtZTYxYy00NjhhLTg1ZTUtNWEzZDk1MjFlZjIwIiwidCI6ImJjMTBlMDUyLWIwMWMtNDg0OS05OTY3LWVlN2VjNzRmYzlkOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
<a href="~/Data/report_dataset.xlsx" class="btn btn-primary" role="button" aria-pressed="true">Download </a>
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add
</a>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form>
            <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </form>
    </div>
</div>